################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Angular/AssistantApp/.vscode
/AssistantApplication/AssistantApplication.Tests/bin
/AssistantApplication/AssistantApplication.Tests/obj
/Angular/AssistantApp/.editorconfig
